.contacto {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.acerca-de-nosotros {
  display: grid;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.acerca-de-nosotros {
  display: grid;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.politica-de-cambio {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
