@import "default";
@import "body";
@import "tamaño";
@import "buscador";
@import "productos";
@import "footer";
@import "comprar";

/*----------------------------------HEADER----------------------------------*/

.logo {
  width: 40px;
  height: 40px;
}

/*----------------------------------CONTACTO----------------------------------*/

.contacto {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

/*----------------------------------NOSOTROS----------------------------------*/

.acerca-de-nosotros {
  display: grid;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.ubicacion {
  width: $myWidth;
}

/*---------------------------------MEDIA-QUERIES---------------------------------*/

@media screen and (min-width: 320px) {
  .productos-prev {
    width: $myWidth;
  }
  .ir-productos {
    width: 15em;
  }
}
@media screen and (min-width: 375px) {
  .productos-prev {
    width: $myWidth;
  }
  .ir-productos {
    width: 15em;
  }
}
@media screen and (min-width: 425px) {
  .buscador:hover > .buscar {
    width: 190px;
  }
  .productos-prev {
    width: $myWidth;
  }
  .ir-productos {
    width: 20em;
  }
}
@media screen and (min-width: 768px) {
  .buscador:hover > .buscar {
    width: 300px;
  }
  .productos-prev {
    width: $myWidth;
  }
}
@media screen and (min-width: 1024px) {
  .buscador:hover > .buscar {
    width: 400px;
  }
  .productos-prev {
    width: $myWidth;
  }
}
@media screen and (min-width: 2560px) {
  .productos-prev {
    width: $myWidth;
  }
}
