*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------------body----------------------------------*/
body{
    
    font-family: 'Montserrat', sans-serif;
    background-color: #212429;
    color: aliceblue;
}

/*----------------------------------header----------------------------------*/ 
h1 {
    text-align: center;
    color: rgb(68, 0, 0);
    font-size: 16px;
    background-color: rgb(189, 189, 189);
    padding: 5px;
    margin-bottom: 0px;
  }

.buscador {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 1%;
  
}

.buscar {
  border: none;
  background: none;
  outline: none;
  color: white;
  transition: .3s;
  width: 0;
}

.boton-buscador {
  text-decoration: none;
  color: white; 
}

@media screen and (min-width:480px){
  .buscador:hover > .buscar{
    width: 190px;
  }
}

@media screen and (min-width:768px){
  .buscador:hover > .buscar{
    width: 300px;
  }
}

@media screen and (min-width:1024px){
  .buscador:hover > .buscar{
    width: 400px;
  }
}

/*----------------------------------seccion productos inicio----------------------------------*/
.productos-inicio-container .ver-todos {
  font-size: 10px;
  text-decoration: none;
  color: aliceblue ;
}

.productos-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productos-inicio img {
  padding: 3%;
  width: 850px;
  height: 450px;
  
}
  
.productos-inicio-container .slipknot-hoodie {
    width: 100%;
}
.productos-inicio-container .metal-remera {
    width: 100%;
}

.productos-inicio-container .gojira-remera {
    width: 100%;
} 

/*----------------------------------Productos----------------------------------*/
.productos-lista a{
    color: aliceblue;
    text-decoration: none;

}


/*----------------------------------Contacto----------------------------------*/
main .contacto {
 text-align: center;

}

/*----------------------------------Nosotros----------------------------------*/
main .acerca-de-nosotros {
  text-align: center;
}

.acerca-de-nosotros .ubicacion {
width: 50%;
}


/*----------------------------------Footer----------------------------------*/
footer {
    left: 0;
    bottom: 0;
    align-items: center;
    background-color: gray;

}

.footer-contenedor a{
    text-decoration: none;
    color: aliceblue;
}

.mb-4 {
    margin-bottom: 0px !important;
}

.footer-contenedor{
   text-align: center;
    
}
.politica-de-cambio {
    text-align: center;
}
